<div class="row">
    <div class="col-md-12">
        <h3>Your profile</h3>
        <div>
            <p>
                Username: <b>{{vm.profile.username}}</b>
            </p>
            <p>
                Joined <b>{{vm.profile.createDate.fromNow()}}</b>
            </p>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email" ng-model="vm.profile.email">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="vm.updateEmail()">Update</button>
                    </span>
                </div>
            </div>
        </div>

        <h4>Change password</h4>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="inputOldPassword">Current password</label>
                        <input type="password" class="form-control" id="inputOldPassword" placeholder="Current password" ng-model="vm.updatedPassword.oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">New password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="New password" ng-model="vm.updatedPassword.newPassword">
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm password</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" ng-model="vm.updatedPassword.confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="vm.changePassword()">Save</button>
                </form>

                <br />

                <div class="alert alert-success" role="alert" ng-show="vm.successMessage">
                    {{vm.successMessage}}
                </div>
            </div>

        </div>

        <h3>Your favorites</h3>
        Coming soon<sup>TM</sup>
    </div>    
</div>