<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <span class="brand-name">Chreytli</span> <span ng-style="vm.route.style">{{vm.route.title}}</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:vm.isActive(route.route)}" ng-repeat="route in vm.routes|filter:{showNav:true}"><a ng-href="#{{route.route}}">{{route.title}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="vm.canRegister"><a href="" data-toggle="modal" data-target="#registerModal"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                    <li ng-hide="vm.account"><a href="" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li ng-show="vm.account" ng-class="{active:vm.isActive('/profile')}" ><a href="#/profile"><i class="fa fa-user"></i> {{vm.account.username}}</a></li>
                    <li ng-show="vm.account"><a href="" ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container header-image hidden-xs"></div>

<div ng-include="src='app/shell/loginDialog.html'"></div>
<div ng-include="src='app/shell/registerDialog.html'"></div>