<div id="submitModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Submit</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUrl">URL</label>
                        <input ng-model="vm.newSubmission.url"
                               type="text" class="form-control" id="inputUrl" placeholder="Enter URL...">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-lg"
                                ng-class="{'active':vm.isActive('image')}" ng-click="vm.selectType('image')">
                            <img src="../../images/upload.png" />
                        </button>
                        <button type="button" class="btn btn-default btn-lg"
                                ng-class="{'active':vm.isActive('youtube')}" ng-click="vm.selectType('youtube')">
                            <img src="../../images/youtube.png" />
                        </button>
                        <button type="button" class="btn btn-default btn-lg"
                                ng-class="{'active':vm.isActive('spotify')}" ng-click="vm.selectType('spotify')">
                            <img src="../../images/spotify.png" />
                        </button>
                    </div>
                    
                    <!--<div class="checkbox" ng-show="vm.isActive('image')">
                        <label>
                            <input type="checkbox" checked ng-model="vm.newSubmission.isHosted"> Host on Chreytli Hub
                        </label>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="vm.submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
