<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-target="#submitModal" data-toggle="modal" ng-show="vm.isLoggedIn()">
            <i class="fa fa-arrow-circle-up"></i> Submit
        </button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('sfw')}" ng-click="vm.selectFilter('sfw', $event)">
                SFW
            </button>
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('nsfw')}" ng-click="vm.selectFilter('nsfw', $event)">
                NSFW
            </button>
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('nsfl')}" ng-click="vm.selectFilter('nsfl', $event)">
                NSFL
            </button>
        </div>
    </div>

<div ng-repeat="submission in vm.submissions" class="col-md-3 col-sm-4 col-xs-6 media-element" id="{{submission.id}}">
    <div class="media-element-thumbnail">
        <div class="image" ng-style="{'background-image': 'url(' + submission.img + ')'}"></div>
        <i class="fa enlarge" ng-class="vm.getTypeSetting(submission.type, 'enlargementIcon')" ng-click="vm.enlarge(submission)"></i>
    </div>
    <span class="media-element-badge" ng-style="vm.getTypeSetting(submission.type, 'style')">
        <i class="fa" ng-class="vm.getTypeSetting(submission.type, 'badgeIcon')"></i> {{vm.getTypeSetting(submission.type, 'title')}}
    </span>

    <div class="media-element-body">
        <div><i class="fa fa-user"></i> {{submission.author.userName}}</div>
        <div><i class="fa fa-clock-o"></i> {{submission.date.fromNow()}}</div>
        <div>
            <a href="" class="favorite-star" ng-click="vm.favorite(submission)" tabindex="-1">
                {{submission.score}}
                <i class="fa fa-star" ng-class="{'favorite':submission.isFavorite}"></i>
            </a>
        </div>
        <a class="media-element-delete" ng-show="vm.canDelete(submission)" href="" ng-click="vm.delete(submission)">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <a href="" ng-click="vm.loadMore()" ng-show="vm.isMoreDataAvailable"
       class="load-more-bar col-md-12 col-sm-12 col-xs-12">
        <span ng-show="vm.loadingMore" class="fa fa-circle-o-notch fa-spin"></span>
        Load more...
    </a>
</div>
</div>

<div ng-include="src='templates/dialogs/mediaDialog.html'"></div>
<div ng-include="src='templates/dialogs/submitDialog.html'"></div>