<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-target="#submitModal" data-toggle="modal" ng-show="vm.isLoggedIn()">
            <i class="fa fa-arrow-circle-up"></i> Submit
        </button>

        <div class="btn-group" role="group" ng-show="vm.isLoggedIn()">
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('sfw')}" ng-click="vm.selectFilter('sfw', $event)">
                SFW
            </button>
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('nsfw')}" ng-click="vm.selectFilter('nsfw', $event)">
                NSFW
            </button>
            <button type="button" class="btn btn-default" tabindex="-1"
                    ng-class="{'active':vm.isActiveFilter('nsfl')}" ng-click="vm.selectFilter('nsfl', $event)">
                NSFL
            </button>
        </div>
    </div>

    <media-element ng-repeat="submission in vm.submissions" submission="submission" on-delete="vm.onSubmissionDelete(submission)"></media-element>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="" ng-click="vm.loadMore()" ng-show="vm.isMoreDataAvailable"
           class="load-more-bar col-md-12 col-sm-12 col-xs-12">
            <span ng-show="vm.loadingMore" class="fa fa-circle-o-notch fa-spin"></span>
            Load more...
        </a>
    </div>
</div>

<div ng-include="src='app/hub/mediaDialog.html'"></div>
<div ng-include="src='app/hub/submitDialog.html'"></div>